<nb-card *ngIf="message == 'verifyEmail'">
  <nb-card-header> Please Update your e-mail</nb-card-header>
  <nb-card-body>
    <input nbInput type="email" placeholder="Type your e-mail"  [(ngModel)]="email">
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-around">
      <button class="button" nbButton status="success" [disabled]='!email' (click)="sendEmail()">
        Accept</button>
    </div>
  </nb-card-footer>
</nb-card>

<nb-card *ngIf="message != 'verifyEmail'">
  <nb-card-header> Are you sure? </nb-card-header>
  <nb-card-body>
    {{ message }}
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-around">
      <button class="button" nbButton status="success" (click)="close(true)">
        Accept</button
      ><button class="button" status="danger" nbButton (click)="close(false)">
        Cancel
      </button>
    </div>
  </nb-card-footer>
</nb-card>
