<nb-card>
  <nb-card-header>Settings</nb-card-header>
  <nb-card-body class="row">
    <form
      [formGroup]="form"
      (ngSubmit)="addCase($event)"
      class="col-12 row justify-content-start"
    >
      <div class="col-12 row p-0 mb-2" *ngIf="booleanProject">
        <nb-select
          placeholder="Project"
          formControlName="project"
          class="col-3"
        >
        <nb-option [value]='global'>General</nb-option>
          <nb-option
            *ngFor="let items of subProject"
            [value]="items.Id_Project"
          >
            {{ items.Project }}
          </nb-option>
        </nb-select>
      </div>
      <input
        class="col-4"
        type="text"
        nbInput
        fullWidth
        fieldSize="small"
        placeholder="New case"
        formControlName="case"
      />
      <input
        class="col-2"
        type="number"
        min="1"
        pattern="^[0-9]+"
        max="60"
        onkeypress="return (event.charCode>=48&&event.charCode<=57)"
        nbInput
        fullWidth
        fieldSize="small"
        placeholder="Estimated"
        formControlName="time"
      />
      <nb-select placeholder="Time" formControlName="timeType" class="col-1">
        <nb-option value="1">Minute</nb-option>
        <nb-option value="2">Hour</nb-option>
        <nb-option value="3">Day</nb-option>
      </nb-select>
      <nb-select
        placeholder="Priority"
        formControlName="priority"
        class="col-3"
      >
        <nb-option value="1">High</nb-option>
        <nb-option value="2">Medium</nb-option>
        <nb-option value="3">Low</nb-option>
      </nb-select>
      <div class="col-12 row">
        <button
          class="col-2 mt-2"
          type="submit"
          nbButton
          [disabled]="form.invalid"
          status="success"
        >
          Create
        </button>
      </div>
    </form>
    <nb-card
    [nbSpinner]="booleanspring"
      size="small"
      class="col-6 mt-4 d-flex m-auto justify-content-center"
      accent="info"
    >
      <nb-card-header class="align-self-center">
        Cases from your area
      </nb-card-header>
      <nb-list>
        <nb-list-item
          *ngFor="let item of cases"
          class="d-flex justify-content-start"
        >
          {{item.Project}} - {{ item.Nombre }} -
          {{
            item.Priority == 1 ? "High" : item.Priority == 2 ? "Medium" : "Low"
          }}
          - {{ item.Legend }} -{{ " " }}
          <nb-icon
            (click)="deleteCase(item.Id)"
            class="iconcolor"
            icon="trash-2-outline"
          ></nb-icon>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-card-body>
</nb-card>
