<div>
  <app-new-requested (EmmiterList)="refreshData($event)"></app-new-requested>
  <nb-card [nbSpinner]="load" size="tiny" class="mt-5" *ngIf="load">
    <nb-card-body> </nb-card-body>
  </nb-card>
  <div *ngIf="!load">
    <div class="mt-3" *ngFor="let req of listRequest">
      <nb-card status="info">
        <nb-card-header
          ><div class="row justify-content-between">
            <div class="pl-3">
              {{ req.nombrearearesponsable }} - {{ req.nombredelCreador }}
            </div>
            <div class="pr-3">{{ req.idlasolicitud }}</div>
          </div></nb-card-header
        >
        <nb-card-body>
          <div class="row justify-content-center">
            <div class="col-6">
              <p class="">
                <strong>Datatime:</strong>
                {{ req.fechadecreacion | date: "M/d/y, h:mm a" }}
              </p>
              <p
                class=""
                *ngIf="
                  req.nombreproyecto != null &&
                  req.nombreproyecto != 'null' &&
                  req.nombreproyecto != 'Global'
                "
              >
                <strong>Project:</strong> {{ req.nombreproyecto }}
              </p>
              <p class=""><strong>Client:</strong> {{ req.nombredecliente }}</p>
              <p class=""><strong>E-Mail:</strong> {{ req.Email }}</p>
              <p class=""><strong>Cell phone:</strong> {{ req.Telefono }}</p>
              <p class="">
                <strong>Type:</strong> {{ req.NombredeIncidencia }}
              </p>
              <p
                class=""
                *ngIf="req.LastDateTransfered != null && req.UltimaArea != null"
              >
                <strong>Transfer:</strong
                >{{ req.LastDateTransfered | date: "M/d/y, h:mm a" }} -
                {{ req.UltimaArea }}
              </p>
              <p *ngIf="!this.authRol">
                <strong>Tracking: </strong>
              </p>
              <div
                *ngIf="
                  !this.authRol ||
                  (authRol &&
                    req.idccmsdelCreador != idccmsValide &&
                    Rol == 'dev')
                "
                class="row ml-3 mb-3"
              >
                <div
                  *ngFor="let status of req.TrackingStatus; let ind = index"
                  class="col-sm-1 col-12"
                >
                  <nb-icon
                    [status]="
                      status.id == 1
                        ? 'info'
                        : status.id == 3 && ind < req.TrackingStatus.length - 1
                        ? 'info'
                        : status.id == 2
                        ? 'info'
                        : 'success'
                    "
                    [nbTooltip]="
                      status.id == 1
                        ? status.message
                        : status.id == 3 && ind < req.TrackingStatus.length - 1
                        ? status.message
                        : status.id == 2
                        ? status.message
                        : 'Solving your request'
                    "
                    nbTooltipPlacement="bottom"
                    [icon]="
                      status.id == 1
                        ? 'paper-plane'
                        : status.id == 2
                        ? 'people-arrows'
                        : 'user-clock'
                    "
                    pack="fa"
                  ></nb-icon>
                </div>
              </div>
            </div>
            <div class="col-6" style="border-left: 1px solid">
              <p>
                <strong>Time estimation: </strong>
                {{ req.Legend }}
              </p>
              <p *ngIf="req.fechaestimada">
                <strong>Status: </strong
                ><nb-icon
                  [status]="
                    req.fechaestimada > this.time ? 'success' : 'danger'
                  "
                  [nbTooltip]="
                    req.fechaestimada > this.time ? 'on time' : 'off time'
                  "
                  nbTooltipPlacement="bottom"
                  icon="clock"
                  pack="fa"
                ></nb-icon>
              </p>
              <p class="mb-0" *ngIf="authRol"><strong>Priority:</strong></p>
              <div
                *ngIf="authRol"
                [class]="
                  req.IdPrioridad == 1
                    ? 'mb-2 priorityHigh'
                    : req.IdPrioridad == 2
                    ? 'mb-2 priorityMedium'
                    : 'mb-2 priorityLow'
                "
              >
                {{
                  req.IdPrioridad == 1
                    ? "High"
                    : req.IdPrioridad == 2
                    ? "Medium"
                    : "Low"
                }}
              </div>
              <p><strong>Problem:</strong> {{ req.Descripcion }}</p>
              <div class="cotainerFiles">
                <div
                  class="boxfile"
                  *ngFor="let file of req.Files"
                  (click)="downLoadBill(file.id)"
                >
                  <nb-icon icon="attach-2-outline"></nb-icon>
                  {{ file.name }}
                </div>
              </div>
              <p
                *ngIf="req.idccmsdelResponsable != 0 && Rol == 'admin'"
                class="mt-2"
              >
                <strong>Responsable:</strong>
                {{ map.get(req.idccmsdelResponsable) }}
              </p>
              <div
                class="mb-3 mt-3"
                *ngIf="
                  closed == true &&
                  req.idlasolicitud == requestUpdate &&
                  req.nombrearearesponsable == requestProject
                "
              >
                <textarea
                  nbInput
                  fullWidth
                  shape="semi-round"
                  placeholder="Closed"
                  [(ngModel)]="decriptionClosed"
                ></textarea>
                <div class="cotainerFiles">
                  <div class="boxfile" *ngFor="let file of files">
                    {{ file.name }}
                    <nb-icon
                      class="boxremove"
                      icon="close-outline"
                      (click)="
                        removeFile(file.size, file.name, file.lastModified)
                      "
                    ></nb-icon>
                  </div>
                </div>
                <label for="file" class="subir mt-1" [hidden]="hide">
                  <i class="fas fa-cloud-upload-alt" aria-hidden = "true"></i> upload evidence
                </label>
                <input
                  type="file"
                  id="file"
                  placeholder="File"
                  #fileInput
                  style="display: none"
                  (change)="fileLoad($event)"
                />
              </div>
              <div
                class="transButton row justify-content-end mt-1"
                *ngIf="
                  !authRol ||
                  (authRol &&
                    req.idccmsdelCreador == idccmsValide)
                "
              >
              <button
                  class="col-2 col-sm-2 mr-2"
                  nbButton
                  outline
                  status="success"
                  (click)="saveConversation(req)"
                >
                  Chat
                </button>
                <button
                  class="col-2 col-sm-2"
                  nbButton
                  status="danger"
                  (click)="cancelRequest(req.idlasolicitud)"
                >
                  Cancel
                </button>
              </div>
              <div
                class="transButton row"
                *ngIf="
                  authRol &&
                  (req.idccmsdelCreador != idccmsValide ||
                    req.idccmsdelResponsable == idccmsValide)
                "
              >
                <div
                  class="mt-3 row m-auto justify-content-around"
                  *ngIf="
                    transfer &&
                    !areaBoolean &&
                    !personBoolean &&
                    req.idlasolicitud == requestUpdate
                  "
                >
                  <label class="col-12 text-center" (click)="backIcon()"
                    ><strong
                      >TRANSFER
                      <nb-icon icon="refresh-outline"></nb-icon></strong
                  ></label>
                  <button
                    class="col-5"
                    nbButton
                    outline
                    status="info"
                    class="ml-3"
                    (click)="transferPerson()"
                  >
                    personal
                  </button>
                  <button
                    class="col-5"
                    nbButton
                    outline
                    status="info"
                    (click)="transferArea()"
                  >
                    other area
                  </button>
                </div>
                <div
                  class="mt-3 row m-auto justify-content-around"
                  *ngIf="areaBoolean && req.idlasolicitud == requestUpdate"
                >
                  <nb-select
                    class="col-10 mb-2"
                    placeholder="Area"
                    fullWidth
                    shape="semi-round"
                    (selectedChange)="getArea($event)"
                  >
                    <nb-option *ngFor="let item of areas" [value]="item.name">{{
                      item.name
                    }}</nb-option>
                  </nb-select>
                  <nb-select
                    class="col-10 mb-2"
                    placeholder="Motivo"
                    fullWidth
                    shape="semi-round"
                    (selectedChange)="getMotives($event)"
                  >
                    <nb-option
                      *ngFor="let item of motives"
                      [value]="item.name"
                      >{{ item.name }}</nb-option
                    >
                  </nb-select>

                  <button
                    class="col-7 col-sm-5"
                    nbButton
                    status="success"
                    (click)="updateTransfer(req, 0, 2)"
                    [disabled]="transferToMotive == '' || transferToArea == ''"
                  >
                    Transferir
                  </button>
                  <button
                    class="col-7 col-sm-5"
                    nbButton
                    status="danger"
                    (click)="backIcon()"
                  >
                    Cancel
                  </button>
                </div>
                <div
                  class="mt-3 row m-auto justify-content-around"
                  *ngIf="personBoolean && req.idlasolicitud == requestUpdate"
                >
                  <input
                    #autoInput
                    nbInput
                    class="col-9 mb-2 ml-3"
                    fullWidth
                    type="text"
                    placeholder="IDCCMS"
                    (input)="onChange()"
                    shape="semi-round"
                    [nbAutocomplete]="auto"
                  />
                  <nb-autocomplete
                    #auto
                    (selectedChange)="onSelectionChange($event)"
                  >
                    <nb-option
                      *ngFor="let option of filteredOptions$ | async"
                      [value]="option.idccms"
                    >
                      {{ option.nameuser }}
                    </nb-option>
                  </nb-autocomplete>
                  <button
                    class="col-7 col-sm-5"
                    nbButton
                    status="success"
                    (click)="updateTransfer(req, tranferId, 1)"
                  >
                    Transferir
                  </button>
                  <button
                    class="col-7 col-sm-5"
                    nbButton
                    status="danger"
                    (click)="backIcon()"
                  >
                    Cancel
                  </button>
                </div>
                <button
                  class="col-7 col-sm-3"
                  nbButton
                  outline
                  status="primary"
                  (click)="transferOpen(req.idlasolicitud)"
                  *ngIf="!transfer && !closed"
                >
                  Transfer
                </button>
                <button
                  class="col-7 col-sm-3"
                  nbButton
                  outline
                  status="success"
                  (click)="saveConversation(req)"
                  *ngIf="!transfer && !closed"
                >
                  Chat
                </button>
                <button
                  class="col-7 col-sm-3"
                  *ngIf="req.Status == 'open' && !closed && !transfer"
                  nbButton
                  outline
                  status="warning"
                  (click)="
                    closedRequest(req.idlasolicitud, req.nombrearearesponsable)
                  "
                >
                  Closed
                </button>
                <div class="groupButtons row">
                  <button
                    class="col-7 col-sm-5"
                    nbButton
                    status="danger"
                    *ngIf="
                      closed == true &&
                      req.idlasolicitud == requestUpdate &&
                      req.nombrearearesponsable == requestProject &&
                      !transfer
                    "
                    (click)="cancelClosed()"
                  >
                    Cancel
                  </button>
                  <button
                    [disabled]="!decriptionClosed"
                    class="col-7 col-sm-5"
                    nbButton
                    status="success"
                    *ngIf="
                      closed == true &&
                      req.idlasolicitud == requestUpdate &&
                      req.nombrearearesponsable == requestProject &&
                      !transfer
                    "
                    (click)="saveClosed(req.idlasolicitud)"
                  >
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
