.statusButton {
  position: relative;
  padding: 5px;
}
.transButton {
  position: relative;
  justify-content: space-around;
  display: flex;
  padding: 5px;
  flex-direction: row;
}
.cancelButton {
  position: absolute;
  right: 30%;
  padding: 5px;
}

.groupButtons {
  display: flex;
  justify-content: space-between;
}

.priorityMedium {
  font-weight: 700;
  font-size: 0.725rem;
  text-transform: uppercase;
  color: #ffaa00;
}
.priorityLow {
  font-weight: 700;
  font-size: 0.725rem;
  text-transform: uppercase;
  color: #3366ff;
}
.priorityHigh {
  font-weight: 700;
  font-size: 0.725rem;
  text-transform: uppercase;
  color: #ff3d71;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.cotainerFiles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.boxfile {
  cursor: pointer;
  border: 1px;
  border-radius: 0.5rem;
  margin: 0 5px;
  color: #0095ff;
}

.subir{
  padding: 10px 20px;
  background: #3366FF;
  color:#fff;
  border:0px solid #fff;
  border-radius: 0.5rem;
}

.subir:hover{
  color:#fff;
  background: #0095FF;
}

.boxremove{
  cursor: pointer;
  color: red;
}


