<nb-layout windowMode>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>
  <nb-layout-column>
    <nb-card accent="info" *ngIf="!sendSurvey">
      <nb-card-header>Fromulario solicitud {{ idFact }}</nb-card-header>
      <nb-card-body>
        <form
          [formGroup]="registerForm"
          class="row"
          (ngSubmit)="onSubmit($event)"
        >
          <div class="row justify-content-center">
            <div class="col-8 d-flex flex-column align-items-center mb-4">
              <span class="mb-4" style="font-size: 20px"
                >¿Como se sintio con el servicio entregado?</span
              >
              <div>
                Malo
                <nb-button-group filled>
                  <button nbButtonToggle type="button" (click)="setQ1(1)">
                    1
                  </button>
                  <button nbButtonToggle type="button" (click)="setQ1(2)">
                    2
                  </button>
                  <button nbButtonToggle type="button" (click)="setQ1(3)">
                    3
                  </button>
                  <button nbButtonToggle type="button" (click)="setQ1(4)">
                    4
                  </button>
                  <button nbButtonToggle type="button" (click)="setQ1(5)">
                    5
                  </button>
                </nb-button-group>
                Exelente
              </div>
            </div>
            <div class="col-8 d-flex flex-column align-items-center mb-4">
              <span class="mb-4" style="font-size: 20px"
                >¿Como considera el tiempo de respuesta?</span
              >
              <div>
                Malo
                <nb-button-group filled>
                  <button nbButtonToggle type="button" (click)="setQ2(1)">
                    1
                  </button>
                  <button nbButtonToggle type="button" (click)="setQ2(2)">
                    2
                  </button>
                  <button nbButtonToggle type="button" (click)="setQ2(3)">
                    3
                  </button>
                  <button nbButtonToggle type="button" (click)="setQ2(4)">
                    4
                  </button>
                  <button nbButtonToggle type="button" (click)="setQ2(5)">
                    5
                  </button>
                </nb-button-group>
                Exelente
              </div>
            </div>
            <div class="col-8 d-flex flex-column align-items-center mb-4">
              <span class="mb-4" style="font-size: 20px"
                >Tiene algun comentario,mejora o recomendaciones.</span
              >
              <div>
                <textarea
                  style="width: 300px"
                  nbInput
                  placeholder=""
                  formControlName="Q3"
                ></textarea>
              </div>
            </div>
            <div class="col-8 d-flex flex-column align-items-end">
              <button
                nbButton
                class="col-7 col-sm-2"
                status="success"
                type="submit"
                [disabled]="booleanQ1 || booleanQ2"
              >
                <nb-icon icon="save"></nb-icon>
                Send
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

    <nb-card accent="info" *ngIf="sendSurvey">
      <nb-card-header>Fromulario solicitud {{ idFact }}</nb-card-header>
      <nb-card-body>
        <div class="row justify-content-center">
          <div class="col-8 d-flex flex-column align-items-center">
            <strong style="font-size: 30px" class="mt-4 mb-2">Gracias</strong>
            <span style="font-size: 15px" class="mb-4"
              >Se ha enviado su informacion.</span
            >
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
