<div *ngIf="!load" class="row">
  <nb-card status="info" class="col-12" *ngIf="authRol">
    <nb-card-body>
      <ngx-charts-advanced-pie-chart
        class="d-flex justify-content-center"
        [view]="view"
        [scheme]="colorScheme"
        [results]="this.structureSingle"
      >
      </ngx-charts-advanced-pie-chart>
    </nb-card-body>
  </nb-card>
  <div class="col-12 justify-content-center d-flex">
    <input
      nbInput
      type="number"
      pattern="^[0-9]+"
      min="1"
      onkeypress="return (event.charCode>=48&&event.charCode<=57)"
      class="mr-2"
      [(ngModel)]="idreqst"
    />
    <button nbButton status="info" class="mr-2" (click)="onSelectionChange()">
      <nb-icon icon="search-outline"></nb-icon>
    </button>
    <button nbButton status="danger" (click)="deletfilter()">
      <nb-icon icon="flip-2-outline"></nb-icon>
    </button>
  </div>
</div>

<nb-card [nbSpinner]="load" size="tiny" class="mt-5" *ngIf="load">
  <nb-card-body> </nb-card-body>
</nb-card>
<div *ngIf="!load">
  <div class="mt-3" *ngFor="let req of test">
    <nb-card status="success">
      <nb-card-header
        ><div class="row justify-content-between">
          <div class="pl-3">
            {{ req.nombrearearesponsable }} - {{ req.nombredelCreador }}
          </div>
          <div class="pr-3">{{ req.idlasolicitud }}</div>
        </div></nb-card-header
      >
      <nb-card-body>
        <div class="row justify-content-center">
          <div class="col-6" style="border-right: 1px solid">
            <p>Datatime: {{ req.fechadecreacion | date: "M/d/y, h:mm a" }}</p>
            <p>Client: {{ req.nombredecliente }}</p>
            <p>E-mail: {{ req.Email }}</p>
            <p>Cell phone: {{ req.Telefono }}</p>
            <p>Type: {{ req.NombredeIncidencia }}</p>
            <p>
              <nb-icon
                class="mr-1"
                status="success"
                icon="user-check"
                pack="fa"
              ></nb-icon>
              <strong>Solicitud solucionada.</strong>
            </p>
            <p>Closed: {{ req.FechadeCierre | date: "M/d/y, h:mm a" }}</p>
          </div>
          <div class="col-6" style="border-left: 1px solid">
            <p class="mb-0">Priority:</p>
            <div
              [class]="
                req.IdPrioridad == 1
                  ? 'mb-2 priorityHigh'
                  : req.IdPrioridad == 2
                  ? 'mb-2 priorityMedium'
                  : 'mb-2 priorityLow'
              "
            >
              {{
                req.IdPrioridad == 1
                  ? "High"
                  : req.IdPrioridad == 2
                  ? "Medium"
                  : "Low"
              }}
            </div>
            <p>Problem: {{ req.Descripcion }}</p>
            <p>Closed: {{ req.DescripcionCierre }}</p>
            Evidence:
            <div
              *ngFor="let file of req.Files; index as i"
              (click)="downLoadBill(file.id)"
            >

              <span class="boxfilecl" *ngIf="file.class == 0">
                <nb-icon icon="attach-2-outline"></nb-icon>
                {{ file.name }}</span
              >
            </div>
            <p>Person closed: {{ map.get(req.IdUsuerCierre) }}</p>
            <div class="cotainerFiles">
              <div
                *ngFor="let file of req.Files; index as i"
                (click)="downLoadBill(file.id)"
              >
                <span class="boxfilecl" *ngIf="file.class == 1">
                  <nb-icon
                    icon="attach-2-outline"
                  ></nb-icon>
                  {{ file.name }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
