.statusButton {
  position: absolute;
  bottom: 2%;
  right: 2%;
  padding: 5px;
}

.groupButtons {
  position: absolute;
  bottom: 0;
  right: 5%;
}

.priorityMedium {
  font-weight: 700;
  font-size: 0.725rem;
  text-transform: uppercase;
  color: #ffaa00;
}
.priorityLow {
  font-weight: 700;
  font-size: 0.725rem;
  text-transform: uppercase;
  color: #3366ff;

}
.priorityHigh {
  font-weight: 700;
  font-size: 0.725rem;
  text-transform: uppercase;
  color: #ff3d71;
}

.cotainerFiles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.boxfile {
  cursor: pointer;
  border: 1px;
  border-radius: 0.5rem;
  margin: 0 5px;
  color: #0095ff;
}

.boxfilecl {
  cursor: pointer;
  color: #0095ff;
}
