<nb-card [nbSpinner]="load" size="tiny" class="mt-5" *ngIf="load">
  <nb-card-body> </nb-card-body>
</nb-card>
<div *ngIf="!load">
  <div class="mt-3" *ngFor="let req of test">
    <nb-card status="success">
      <nb-card-header
        ><div class="row justify-content-between">
          <div class="pl-3">{{ req.project }} - {{ req.createPerson }}</div>
          <div class="pr-3">{{ req.idrequest }}</div>
        </div></nb-card-header
      >
      <nb-card-body>
        <div class="row justify-content-center">
          <div class="col-6" style="border-right: 1px solid;">
            <p>Datatime: {{ req.creationDateTime | date: "M/d/y, h:mm a" }}</p>
            <p>Client: {{ req.client }}</p>
            <p>Requested by: {{ req.requestedBy }}</p>
            <p>Requested method: {{ req.requestedMethod }}</p>
            <p>Case: {{ req.case }}</p>
            <p>Closed: {{ req.closedDatatime | date: "M/d/y, h:mm a" }}</p>
          </div>
          <div class="col-6" style="border-left: 1px solid;">
            <p class="mb-0">Priority:</p>
            <div
              [class]="
                req.priority == 1
                  ? 'mb-2 priorityHigh'
                  : req.priority == 2
                  ? 'mb-2 priorityMedium'
                  : 'mb-2 priorityLow'
              "
            >
              {{
                req.priority == 1
                  ? "High"
                  : req.priority == 2
                  ? "Medium"
                  : "Low"
              }}
            </div>
            <p>Description: {{ req.description }}</p>
            <p>Closed:{{ req.closed }}</p>
            <p>Person closed: {{ req.closedPerson }}</p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
