.statusButton {
  position: absolute;
  bottom: 2%;
  right: 2%;
  padding: 5px;
}

.groupButtons {
  position: absolute;
  bottom: 0;
  right: 5%;
}

.priorityMedium {
  font-weight: 700;
  font-size: 0.725rem;
  text-transform: uppercase;
  color: #ffaa00;
}
.priorityLow {
  font-weight: 700;
  font-size: 0.725rem;
  text-transform: uppercase;
  color: #3366ff;

}
.priorityHigh {
  font-weight: 700;
  font-size: 0.725rem;
  text-transform: uppercase;
  color: #ff3d71;
}
