.groupButtons {
  display: flex;
  justify-content: flex-end;
  /* position: absolute;
  bottom: 0;
  right: 5%; */
}

.nb-theme-default {
  --option-list-max-height: 15rem;
}

.cotainerFiles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.boxfile {
  border: 1px;
  border-radius: 0.5rem;
  margin: 0 5px;
  color: #0095ff;
}
.subir{
  padding: 10px 20px;
  background: #3366FF;
  color:#fff;
  border:0px solid #fff;
  border-radius: 0.5rem;
}

.subir:hover{
  color:#fff;
  background: #0095FF;
}

.boxremove{
  cursor: pointer;
  color: red;
}
