<button
  nbButton
  fullWidth
  size="giant"
  status="primary"
  *ngIf="open"
  (click)="newRequest()"
>
  <nb-icon icon="plus"></nb-icon>
</button>
<div *ngIf="!open">
  <nb-card [nbSpinner]="load" status="primary">
    <nb-card-header>New Requested</nb-card-header>
    <nb-card-body>
      <form [formGroup]="registerForm" class="row" (ngSubmit)="onSubmit()">
        <div class="col-lg-6 col-md-6">
          <div class="col-lg-9 col-md-12">
            <input
              class="mb-2"
              size="medium"
              #autoInput
              nbInput
              fullWidth
              type="text"
              placeholder="Client"
              (input)="onChange()"
              shape="semi-round"
              [nbAutocomplete]="auto"
            />
            <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">
              <nb-option
                *ngFor="let option of filteredOptions$ | async"
                [value]="option.name"
              >
                {{ option.name }}
              </nb-option>
            </nb-autocomplete>
            <nb-select
              class="mb-2"
              placeholder="Area"
              size="medium"
              fullWidth
              shape="semi-round"
              formControlName="areaResponsable"
              (selectedChange)="saveResponsable($event)"
            >
              <nb-option *ngFor="let item of area" [value]="item.id">{{
                item.name
              }}</nb-option>
            </nb-select>

            <nb-select
              class="mb-2"
              placeholder="Project"
              size="medium"
              fullWidth
              shape="semi-round"
              formControlName="project"
              *ngIf="booleanProject"
              (selectedChange)="saveFilterProject($event)"
            >
              <nb-option
                class="butos"
                *ngFor="let items of subProject"
                [value]="items.Id_Project"
              >
                {{ items.Project}}
              </nb-option>
            </nb-select>

            <nb-select
              class="mb-2"
              placeholder="Type"
              size="medium"
              fullWidth
              shape="semi-round"
              formControlName="type"
              [disabled]="!typeSelect"
              (selectedChange)="saveCase($event)"
            >
              <nb-option
                class="butos"
                *ngFor="let items of case"
                [value]="items.Id"
              >
                {{ items.Nombre }}
              </nb-option>
            </nb-select>
            <input
              class="mb-2"
              type="email"
              nbInput
              size="medium"
              fullWidth
              shape="semi-round"
              formControlName="email"
              placeholder="E-mail"
            />
            <div
              *ngIf="
                registerForm.get('email').invalid &&
                registerForm.get('email').dirty &&
                registerForm.get('email').value != ''
              "
              class="alert alert-danger"
            >
              <div *ngIf="registerForm.get('email').errors.email">
                Please enter a valid email.
              </div>
            </div>
            <input
              class="mb-2"
              type="text"
              nbInput
              placeholder="Cell phone number"
              fullWidth
              shape="semi-round"
              formControlName="cellphone"
              appValideNumber
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <textarea
            class="mb-2"
            nbInput
            size="medium"
            fullWidth
            shape="semi-round"
            placeholder="Description of the problem"
            formControlName="problem"
          ></textarea>
          <div class="cotainerFiles">
            <div class="boxfile" *ngFor="let file of files">
              {{ file.name }}
              <nb-icon
                class="boxremove"
                icon="close-outline"
                (click)="removeFile(file.size, file.name, file.lastModified)"
              ></nb-icon>
            </div>
          </div>
          <label for="file" class="subir mt-1">
            <i class="fas fa-cloud-upload-alt" aria-hidden = "true"></i> upload docs
          </label>
          <input
            type="file"
            id="file"
            placeholder="File"
            #fileInput
            style="display: none"
            (change)="fileLoad($event)"
          />
          <div class="groupButtons row">
            <button
              nbButton
              class="mr-2 col-7 col-sm-2"
              status="danger"
              (click)="newRequest()"
            >
              <nb-icon icon="close-outline"></nb-icon>
              Cancel
            </button>
            <button
              nbButton
              class="col-7 col-sm-2"
              status="success"
              [disabled]="registerForm.invalid"
            >
              <nb-icon icon="save"></nb-icon>
              Save
            </button>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
