<div class="footer">
    <div class="col-md-3 imagen">
      <a href="https://co.teleperformance.com/es-es/" target="_blank"  rel="noopener noreferrer">
        <img style="width: 195px; vertical-align: top;" class="container-image"
        src="assets/Teleperformance Logo.png" alt="Teleperformance Logo">
      </a>
    </div>
    <span class="linea">COPYRIGHT © 2020 Data Office TP CGP</span>
  </div>
