<nb-card class="mt-2">
  <nb-card-body>
    <form
  [formGroup]="registerForm"
  class="row justify-content-center mb-2"
>
  <nb-select
    class="mb-2 col-4"
    placeholder="Project"
    size="medium"
    fullWidth
    shape="semi-round"
    formControlName="project"
    (selectedChange)="projectDropDown($event)"
  >
    <nb-option
      class="butos"
      *ngFor="let items of subProject"
      [value]="items.Id_Project"
    >
      {{ items.Project }}
    </nb-option>
  </nb-select>
  <nb-select
    class="mb-2 col-4"
    placeholder="Type"
    size="medium"
    fullWidth
    shape="semi-round"
    formControlName="case"
    [disabled]="!typeSelect"
    (selectedChange)="caseDropDown($event)"
  >
    <nb-option class="butos" *ngFor="let items of cases" [value]="items.Id">
      {{ items.Nombre }}
    </nb-option>
  </nb-select>
  <button nbButton class="" status="danger" (click)='resetFilter()'>
    <nb-icon icon="flip-2-outline"></nb-icon>
  </button>
</form>
    <div [nbSpinner]="booleanspring">
      <ng2-smart-table
        [settings]="settings"
        [source]="sourceany"
      ></ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>
