<div class="header">
    <div class="header-container">
        <div class="logo-container">
            <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
                <nb-icon icon="menu-2-outline"></nb-icon>
            </a>
            <a class="logo" href="#" (click)="navigateHome()">TP Solutions</a>
        </div>
    </div>

    <div class="header-container">
        <nb-actions size="small">

            <!-- <nb-action class="control-item">
                <nb-search type="rotate-layout"></nb-search>
            </nb-action>
            <nb-action class="control-item" icon="email-outline"></nb-action>
            <nb-action class="control-item" icon="bell-outline"></nb-action> -->
            <nb-action class="user-action">
                <nb-user [name]="this.userInfo.nombre" [title]="this.userInfo.username"
                    [nbContextMenu]="profileMenu" nbContextMenuTag="menu-action">
                </nb-user>
            </nb-action>
        </nb-actions>
    </div>
</div>
