<div *ngIf="newBoolean">
  <button nbButton status="info" (click)="newTask()">Nueva tarea</button>
</div>

<nb-card class="mt-2" *ngIf="newBoolean">
  <nb-card-body>
    <nb-tabset fullWidth (changeTab)="changeTab($event)">
      <nb-tab class="p-0" tabTitle="Task"  tabIcon="book-open-outline" responsive>
        <ng2-smart-table
          [settings]="settings"
          [source]="source"
          (delete)="deleteAction($event)"

        ></ng2-smart-table>
      </nb-tab>
      <nb-tab class="p-0" tabTitle="History" tabIcon="book-outline" responsive>
        <ng2-smart-table
          [settings]="settings2"
          [source]="source2"

        ></ng2-smart-table>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>

<div *ngIf="!newBoolean">
  <nb-card accent="info">
    <nb-card-header>Nueva Tarea</nb-card-header>
    <nb-card-body>
      <form [formGroup]="form" (submit)="submit($event)" class="row">
        <div class="col-6 d-flex flex-column">
          <input
            type="text"
            nbInput
            placeholder="Nombre"
            formControlName="task"
          />
          <textarea
            type="text"
            class="mt-2"
            nbInput
            placeholder="Descripcion"
            formControlName="description"
          ></textarea>
        </div>
        <div class="col-6 d-flex flex-column">
          <nb-select placeholder="Prioridad" formControlName="priority">
            <nb-option value="3">Baja</nb-option>
            <nb-option value="2">Media</nb-option>
            <nb-option value="1">Alta</nb-option>
          </nb-select>
          <input
            nbInput
            placeholder="Fecha de entrega"
            class="mt-2"
            formControlName="dataTime"
            [nbDatepicker]="picker"
          />
          <nb-datepicker #picker [min]="min"></nb-datepicker>
        </div>
        <div class="col-12 mt-2 d-flex justify-content-end">
          <button nbButton status="success" class="mr-2" type="submit">
            save
          </button>
          <button nbButton status="danger" (click)="newTask()">cancel</button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
