<div #divListen class="row">
    <div class="col-sm-12 col-md-3 mb-2">
        <div class="row">
            <button nbButton class="mb-2" fullWidth outline status="primary" (click)="leave()">Salir</button>
        </div>
    </div>

    <div class="col-md-9">
        <nb-chat [title]="nameChat" status="primary" size="medium">
            <nb-chat-message *ngFor="let msg of messageArray" [message]="msg.message" [sender]="msg.user"
                [date]="msg.date" [type]="msg.type" [reply]="msg.reply">
            </nb-chat-message>
            <nb-chat-form (send)="sendMessage($event)" [messagePlaceholder]="'Escribe un mensaje aqui'">
            </nb-chat-form>
        </nb-chat>
    </div>
</div>