.button {
    white-space: break-spaces;
}

.list {
 background-color: rgba(216, 216, 216, 0.658);
}

.container {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
}


.comboBox {
display:none;
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
   .list {
     display: none;
   }
   .comboBox {
       display: unset
   }
 }