@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

app-header {
  width: 100%;
}
.nb-theme-default {
  --option-list-max-height: 15rem;
}

.nb-theme-default ng2-smart-table .ng2-smart-actions a.ng2-smart-action {
  font-size: 1rem !important;
}
/* You can add global styles to this file, and also import other style files */

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
  font-size: 15px !important;
  margin-left: 11px;
  margin-top: -3px !important;
}
.advanced-pie-legend .total-value {
  font-size: 24px !important;
}
