.Form {
    // display: table;
     margin: auto;
     max-width: 27rem !important;
     min-width: 10rem;
     margin-top: calc(50vh - 270px);
 }

 .lobby {
    height: 100%;
    display: flex;
    width: 100%;
    margin: 0;
}

 .card {
     margin-right: 79%;
 }