<!-- <div [ngSwitch]="cambioRoom" class="login">
    <nb-card accent="primary" *ngSwitchDefault>
        <nb-card-header class="mx-auto">
            <h2>Chat TP</h2>
        </nb-card-header>
        <nb-card-body class="mx-auto">

            <p for="roomInput">Escoje una sala</p>
            <nb-select status="primary" name="roomInput" id="roomInput" [(ngModel)]="room">
                <nb-option *ngFor="let aux of roomArray" [value]="aux.Name">{{aux.Name}}</nb-option>
            </nb-select>

        </nb-card-body>
        <nb-card-footer class="mx-auto">
            <button nbButton status="primary" outline size="medium" (click)="join()" [nbSpinner]="spinnerLog"
                nbSpinnerStatus="primary">Ingresar</button>
        </nb-card-footer>
    </nb-card>
    <app-chat *ngSwitchCase="'Si'" (status)="change($event)"></app-chat>
</div> -->
<div [ngSwitch]="cambioRoom" >
    <nb-card class="card"  size="medium" *ngSwitchDefault>
        <nb-list [nbSpinner]="spinnerList" nbSpinnerStatus="primary">
            <nb-list-item *ngFor="let user of users" style="cursor: pointer !important;" (click)="join(user)">
                <nb-badge *ngIf="user.msj != 0" [text]="user.msj" status="success" position="top right" style="margin: 5px;"></nb-badge>
                <nb-user [name]="user.name" [title]="user.title">
                </nb-user>
            </nb-list-item>
        </nb-list>
    </nb-card>
    <app-chat *ngSwitchCase="'Si'" (status)="change($event)" ></app-chat>
</div>
